<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">PhilipsApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
    </ul>
  </div>
</nav>
<!--Main Content Start-->
<div class="container">
  <h1 class="text-center pb-4">Login Form</h1>
  <form class="col-4 m-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" formControlName="email" id="email">
      <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
        <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" formControlName="password" id="pwd">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      </div>
    </div>
    <button class="btn btn-primary">Login</button>
    <div *ngIf="invalidLogin" class="error">
      <div>Invalid credentials.</div>
    </div>
  </form>
</div>
<!--Main Content End-->
<footer>
    <div class="container">
        <p class="text-center">Philips-copyright@2019</p>
    </div>
</footer>